<%- model_class = OsDistro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:codename) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:support_expiration_date) %></th>
      <th><%= model_class.human_attribute_name(:remarks) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>to_formatted_s(:short) 
    </tr>
  </thead>
  <tbody>
    <% @os_distros.each do |os_distro| %>
      <tr>
        <td><%= link_to os_distro.id, os_distro_path(os_distro) %></td>
        <td><%= os_distro.codename %></td>
        <td><%= os_distro.version %></td>
        <td><%= os_distro.support_expiration_date %></td>
        <td><%= os_distro.remarks %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_os_distro_path(os_distro), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      os_distro_path(os_distro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_os_distro_path,
            :class => 'btn btn-primary' %>
