<%- model_class = Workstation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:ip) %></th>
      <th><%= model_class.human_attribute_name(:mac) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workstations.each do |workstation| %>
      <tr>
        <td><%= link_to workstation.id, workstation_path(workstation) %></td>
        <td><%= workstation.name %></td>
        <td><%= workstation.user %></td>
        <td><%= workstation.ip %></td>
        <td><%= workstation.mac %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_workstation_path(workstation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      workstation_path(workstation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_workstation_path,
            :class => 'btn btn-primary' %>
